:root{
    --main-color: #5a66bf;
    --main-hover: #7381e9;
    --selected-color: #313a32;
    --buttons-color: #427542;
    --text-color: #6a756b;
}
*{
    box-sizing: border-box;
}
#topbar{
    background: #106eea;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}
#topbar .contact-info i {
    font-style: normal;
    color: #fff;
}
#topbar .contact-info i a, #topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

#topbar .social-links a:hover {
    color: white;
}
 
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header.fixed-top {
    height: 70px;
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #222222;
  }
  
  #header .logo a span {
    color: #106eea;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  .scrolled-offset {
    margin-top: 70px;
  }
  

body{
    background-color: var(--main-color);
    color: var(--text-color);

    /* background: rgb(136,203,171); */
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
}

.page__header{}
.page__header .navbar__menu{
    border: solid transparent;
    /*  background-color: rgb(238, 238, 220); */
    min-height: 2em;
}
/* .page__header .navbar__menu::after{
    content: '';
} */

.page__header .navbar__menu #navbar__list{    
    /* border: solid 1px green; */
    list-style-type: none;
    text-align: right;
}
.page__header .navbar__menu #navbar__list li{    
    display: inline-block;
    margin: 0 10px;
    padding: 5px;  
    cursor: pointer;
    /* border: solid 1px transparent; */
    height: 2em;
    transition: all 1s ease-in-out;

}
.page__header .navbar__menu #navbar__list li span{

    /* margin: 10px; */
}
#navbar__list li:hover{
    /* transition: all 2s; */
    border-bottom: solid 1px var(--selected-color);
}
/* .page__header .navbar__menu #navbar__list li span:hover{
    border-bottom: solid  var(--main-hover);
}  */
.li-active{
    background-color: var(--selected-color);
    border-radius: 5px;
    color: #fff;
}

.page__header .navbar__menu #navbar__list li:hover{   

}

.main__hero{}
.main__hero h1{}
.section-lbl{
    border: solid 1px;
    padding: 1em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
}
.section-lbl:hover{
    background-color: var(--selected-color);
}
.section-lbl::after{
    content: '+';
    float: right;
}

section{
    border: solid 1px;
    padding: 10px;
    margin: 1em;
}
.section-collapse{
    /* background-color: red; */
    display: none;
}
.section-active{
    /* background-color: green; */

    /* background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); */
    color: #fff;
    display: block;
}
section .landing__container{
    /* border: solid red; */
}
section .landing__container h2{}
section .landing__container p{}
section .landing__container .move-top{}
footer{}